*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    font-weight:normal;
    font-size: 16px;
}

/*

Estilo Layout

*/

body {
    display: grid;
    grid-template-rows: 135px 1fr 35px;
    min-height: 100vh;
}

/*

Estilo Header

*/

#container-header {
    background-color: #ff914d ;
    display: flex;
    flex-direction: column;
}

#conteudo-menu {
    text-align: center;
}

#container-header img {
    height: 60%;
    /* width: 150px */
    
}

#menu-horizontal ul {
    display: inline;
    padding: 2.5px;
    font-weight: bold;
    color: #fff;
} 
#menu-horizontal ul li{
    display: inline;
    padding: 2.5px;
    font-weight: bold;
    color: #fff;
}

#menu-horizontal a {
    padding: 2.5px 0px;
    text-decoration: none;
    color: #ffffff;

}

#menu-horizontal a:hover {
    background-color: #ffbd59 ;
    padding: 3.5px 4px;
    font-size: 16px;
    color: #fff;

}

/*

Estilo Main

*/

#container-main-form {
    background-color: #ffbd59;
   
}

#container-formulario h1 {
    margin: 5%;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

form {
    font-size: 15px;
    background-color: #ffbd59;
    max-width: 500px;
    display: grid;
}

input, textarea {
    width: 200px;
    padding: 10px;
    color: #ffbd59;
    margin-left: 20px;
    margin-top: 12px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid;
}

#nome{
    width: 200px;
    padding: 10px;
    color: #ffbd59;
    margin-left: 20px;
    margin-top: 12px;

}

.container-formulario {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.enviar {
    background-color: white;
    height: 40px;
    width: 100px;
    font-weight: bold;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid;
    color: black;
}

textarea {
    width: 400px;
    height: 120px;
    line-height: 20px;
    max-width: 400px;
}

form label {
    margin-left: 20px;
    color: #FFFFFF;
    font-weight: bold;
}


/*

Estilo Footer

*/


#container-footer {
    background-color: #ff914d;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 5.5px;
    padding-top: 10px;
    text-align: center;
    
}

#container-footer p {
    font-size: 14px;
    color: #fff;
}

.imagem{
    width: 20px;
    margin-right: 7.5px;
}

.redes-sociais{
    display: flex;
    flex-direction: row;
    justify-content: end;
}


/*

Estilo footer responsivo

*/

@media screen and (min-device-width : 320px) and (max-device-width : 480px) {
    /* celulares */

    #container-footer {
        padding: 1.5%;
    }
    
    #container-footer p {
        font-size: 10px;
    }}

    
@media screen and (max-width: 768px) and (min-width: 320px) {
    .texto-dupla{
        top:95%;
        font-size: 180%;
    }

    .imagem{
        width: 15px;
        margin-right: 5px;
        margin-top: 5px;
    }
}
